<h1>Todo items</h1>

<div class="row">
  <div class="cell-md-3" *ngFor="let todoItem of todoItems$ | async">
    <div class="card">
      <div class="card-header text-bold bg-blue fg-white">{{ todoItem.title }}</div>
      <div class="card-content p-2">
        <p>
          Description: {{ todoItem.description }}<br>
          Due date: {{ todoItem.dueDate | date }}<br>

          <ng-container *ngIf="todoItem.assignedToId | mapUser | async as user">
            Assigned to <b>{{ user.username }}</b><br>
          </ng-container>
        </p>

      </div>
      <div class="card-footer">
        <div class="row w-100">
          <div class="cell-12">
            Progress

            <ng-container *ngIf="userService.currentUser$ | async as currentUser">
              <ng-container *ngIf="todoItem.assignedToId === currentUser.id; else noEditPossible">
                <m4-slider [ngModel]="todoItem.progress" [max]="100" [min]="0"
                           (ngModelChange)="changeProgressSubject$.next([todoItem, $event])"></m4-slider>
              </ng-container>
              <ng-template #noEditPossible>
                <div class="mt-3 mb-3">
                  <m4-progress [value]="todoItem.progress"></m4-progress>
                </div>
              </ng-template>
            </ng-container>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="cell-12">
    <button m4-button btn-style="success" routerLink="../add"><span class="mif-plus"></span> Add todo item</button>
  </div>
</div>
